TABLE.btnRow {
	MARGIN-LEFT: -4px
}
TABLE.btnRow TD.btnWrapper {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #999
}
SPAN.btnWrapper {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #999
}
.secondaryBtn {
	BORDER-RIGHT: #bbb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #333; LINE-HEIGHT: 13px; PADDING-TOP: 1px; BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #dedede
}
.primaryBtn {
	BORDER-RIGHT: #d5d29d 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #333; LINE-HEIGHT: 13px; PADDING-TOP: 1px; BORDER-BOTTOM: #d5d29d 1px solid; BACKGROUND-COLOR: #ffc
}
.primaryBtnEmph {
	BORDER-RIGHT: #d5d29d 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #333; LINE-HEIGHT: 13px; PADDING-TOP: 1px; BORDER-BOTTOM: #d5d29d 1px solid; BACKGROUND-COLOR: #ffc
}
.secondaryBtn {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 16px
}
.primaryBtn {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 16px
}
.primaryBtnEmph {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 16px
}
.btnRow TD {
	PADDING-RIGHT: 6px; BACKGROUND-COLOR: transparent
}
.btnDivider {
	BORDER-RIGHT: #fff 1px outset; DISPLAY: block; FONT-SIZE: 2px; VERTICAL-ALIGN: middle; WIDTH: 2px; LINE-HEIGHT: 14px; BORDER-BOTTOM: #fff 1px outset; HEIGHT: 14px; BACKGROUND-COLOR: #f3f3f3
}
INPUT.sortBtn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline; BORDER-BOTTOM-STYLE: none
}
