HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 160px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #c0c0c0; background-image: url(../images/bg2.gif); background-repeat: no-repeat;
}
BODY {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
HTML {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}


TH {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
SPAN.plain {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}

INPUT {
	FONT-SIZE: 12px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
SELECT {
	FONT-SIZE: 12px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
P {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 7px; MARGIN-LEFT: 1px
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ccc; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #ccc; BORDER-BOTTOM-STYLE: none
}


.warning {
	COLOR: #f00
}
.required {
	COLOR: #f06; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
A.plain {
	COLOR: #333; TEXT-DECORATION: none
}
A.plain:hover {
	TEXT-DECORATION: underline
}
STRONG.section {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
STRONG.header {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
STRONG.header {
	FONT-SIZE: 14px
}
.subtext {
	FONT-SIZE: 10px
}
P.subtext {
	FONT-SIZE: 10px
}
SPAN.subtext {
	FONT-SIZE: 10px
}
.data {
	BACKGROUND-COLOR: #999
}
.data TD {
	PADDING-LEFT: 6px
}
.data TH {
	PADDING-LEFT: 6px
}
.data TH {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}
TABLE.data {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.data TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.data TH {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.data TD {
	BACKGROUND-COLOR: #fff
}
.data TH.plain {
	BACKGROUND-COLOR: #fff
}
TABLE.spotlight TD.plain {
	BACKGROUND-COLOR: #fff
}
HR.border {
	COLOR: #ccc; BACKGROUND-COLOR: #ccc
}
HR.border2 {
	COLOR: #ccc; BACKGROUND-COLOR: #ccc
}
HR.divider {
	COLOR: #ccc; BACKGROUND-COLOR: #ccc
}
.verticalDivider {
	FONT-SIZE: 2px; WIDTH: 1px; BACKGROUND-COLOR: #ccc
}
.price {
	COLOR: #ff0063
}
HR.divider {
	CLEAR: both; DISPLAY: block; MARGIN: 4px 0px; POSITION: relative; TOP: -4px
}
HR.border {
	DISPLAY: block; POSITION: relative; TOP: -4px
}
HR.divider {
	MARGIN: 4px 0px 0px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto 2px; PADDING-TOP: 0px; POSITION: static; TOP: 0px; HEIGHT: 1px
}
A {
	COLOR: #333
}
A:hover {
	TEXT-DECORATION: underline
}
P A:hover {
	TEXT-DECORATION: underline
}
TD A:hover {
	TEXT-DECORATION: underline
}
A:active {
	COLOR: #000
}
DIV.list {
	MARGIN: 0px 0px 4px 5px
}
DIV.numberedList {
	MARGIN: 0px 0px 4px
}
DIV.numberedList P {
	MARGIN: 1px 5px 2px 16px; TEXT-INDENT: -16px
}
DIV.numberedList DIV {
	MARGIN: 1px 5px 2px 16px; TEXT-INDENT: -16px
}
P.numberedList {
	MARGIN: 1px 5px 2px 16px; TEXT-INDENT: -16px
}
DIV.list P {
	MARGIN: 1px 5px 3px 9px; TEXT-INDENT: -9px
}
P.list {
	MARGIN: 1px 5px 3px 9px; TEXT-INDENT: -9px
}
DIV.arrowList P {
	MARGIN: 1px 5px 2px 14px; TEXT-INDENT: -14px
}
DIV.arrowList DIV {
	MARGIN: 1px 5px 2px 14px; TEXT-INDENT: -14px
}
P.arrowList {
	MARGIN: 1px 5px 2px 14px; TEXT-INDENT: -14px
}
.errorList P {
	MARGIN: 1px 5px 2px 18px; TEXT-INDENT: -21px
}
P.errorMsg {
	MARGIN: 1px 5px 2px 18px; TEXT-INDENT: -21px
}
.errorList P STRONG {
	FONT-SIZE: 11px
}
.errorMsg STRONG {
	FONT-SIZE: 11px
}
INPUT.price {
	WIDTH: 4em; COLOR: #000
}
INPUT.date {
	WIDTH: 6em
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: arial,sans-serif; font-color: #333
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: arial,sans-serif; font-color: #333
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: arial,sans-serif; font-color: #333
}
.elementReadOnly {
	BACKGROUND-COLOR: #dedede
}
.masthead {
	BACKGROUND-COLOR: white
}
.masthead TABLE {
	BORDER-RIGHT: #009 1px; BORDER-TOP: #009 1px; BORDER-LEFT: #009 1px; WIDTH: 752px; BORDER-BOTTOM: #009 1px; BACKGROUND-COLOR: orange
}
.main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 752px; PADDING-TOP: 10px; BACKGROUND-COLOR: #fff
}
.main {
	WIDTH: 732px
}
.wrapper100pc {
	MARGIN: 0px; WIDTH: 100%
}
.wrapper50pc {
	MARGIN: 0px; WIDTH: 50%
}
.wrapper75pc {
	MARGIN: 0px; WIDTH: 75%
}
TABLE.data {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.paddedContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 6px
}
