<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/ebizdeal"/>
		<property name="username" value="phin"/>
		<property name="password" value="phin"/>
	</bean>
	
	<bean id="sqlMap" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="SqlMapConfig.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
    <bean id="statusService" class="test.spring.IBatisReferenceImpl">
        <property name="sqlMapClient" ref="sqlMap" />
    </bean>
	
</beans>
