.panelContent {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #999 1px solid; WIDTH: 730px; PADDING-TOP: 10px; BORDER-BOTTOM: #999 1px; BACKGROUND-COLOR: #fff
}
.panelContent {
	WIDTH: 730px; voice-family: inherit
}
UNKNOWN {
	WIDTH: 710px
}
.panelFooter {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-SIZE: 4px; BORDER-LEFT: #999 1px solid; WIDTH: 732px; LINE-HEIGHT: 4px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 8px; BACKGROUND-COLOR: #fefeeb
}
UNKNOWN {
	WIDTH: 730px
}
.panelTabbedHeader {
	WIDTH: 732px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #fefeeb; BORDER-BOTTOM-STYLE: none
}
.panelFooter {
	WIDTH: 730px
}
.panelTabbedHeader {
	WIDTH: 730px
}
.tabSetNav A {
	TEXT-DECORATION: none
}
.tabSetNav A:hover {
	TEXT-DECORATION: underline
}
.tabContainer {
	WIDTH: 100%
}
TABLE.tabSet {
	WIDTH: 100%; BACKGROUND-COLOR: #f00
}
TABLE.tabSet .tabOn {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 4px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #fefeeb
}
TABLE.tabSet .tabOff {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dedede
}
.tabOn A {
	COLOR: #333; TEXT-DECORATION: none
}
.tabOff A {
	COLOR: #333; TEXT-DECORATION: none
}
.tabOn A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.tabOff A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.tabOn A:active {
	COLOR: #333; TEXT-DECORATION: none
}
.tabOff A:active {
	COLOR: #333; TEXT-DECORATION: none
}
.tabOn A:hover {
	TEXT-DECORATION: underline
}
.tabOff A:hover {
	TEXT-DECORATION: underline
}
.tabSetNav A:hover {
	TEXT-DECORATION: underline
}
TABLE.tabSet .spacer {
	WIDTH: 14px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #fff
}
TABLE.tabSet .remainder {
	BORDER-BOTTOM: #999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #fff
}
.tabSetTop {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #fefeeb; BORDER-BOTTOM-STYLE: none
}
.tabSetNav {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px; BACKGROUND-COLOR: #fefeeb
}
.tabSetNav P {
	PADDING-RIGHT: 3px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
.tabSetFooter {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px; FONT-SIZE: 4px; BORDER-LEFT: #999 1px solid; WIDTH: 100%; LINE-HEIGHT: 6px; BORDER-BOTTOM: #999 1px; BACKGROUND-COLOR: #fefeeb
}
UNKNOWN {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px
}
